<html ng-app="PoiApp"
      ng-controller="PoiCtrl">
<head>

  <title>2D poi visualizer by rfong</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="2D poi visualizer" />
  <meta name="keywords" content="poi" />
  <meta property="og:title" content="2D poi visualizer" />
  <meta property="og:url" content="http://rfong.github.io/poi/" />
  <meta property="og:image:url" content="http://rfong.github.io/poi/screenshot.png" />
  <meta property="og:description" content="where the heck to put your hands to make your poi do stuff" />
  <meta name="twitter:title" content="2D poi visualizer" />
  <meta name="twitter:description" content="where the heck to put your hands to make your poi do stuff" />
  <meta name="twitter:image" content="http://rfong.github.io/poi/screenshot.png" />


  <script src="lib/underscore.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
  <script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

  <script src="lib/jquery-deparam.js"></script>
  <script src="lib/vector.js"></script>

  <script type="text/javascript" src="poi.js"></script>
  <script type="text/javascript" src="app.js"></script>

  <link rel="stylesheet" href="index.css" />

</head>
<body ng-class="{'rave': options.rave_mode}">

  <div>

    <div class="controls">
      <!-- Pattern selector -->
      <div class="control"
            ng-repeat="pattern in selectedPatternNames track by $index">
        <span style="color: {{ getPatternColor($index) }}">
          Pattern {{$index+1}}
        </span>
        <select ng-options="name as name for name in patternNameOptions"
                ng-model="selectedPatternNames[$index]"
                ng-change="handlePatternSelect($index)"
                ></select>
        <!-- Param value control -->
        <span ng-if="isSelectedPatternGenerator($index)">
          <!-- Note that pattern index is now $parent.$index -->
          <span ng-repeat="arg in patternGeneratorOptions[$index].argSpecs track by $index"
                class="param">
            {{arg.name}} = 
            <select ng-options="v as v for v in getParamValues(arg)"
                    ng-model="patternGeneratorOptions[$parent.$index].args[$index]"
                    ng-change="showGeneratedPattern($parent.$index)"
                    ></select>
          </span>
        </span>
      </div>

      <div>
        <span control-checkbox
              name="show_pattern_trace"
              label="Show pattern traces"
              value="true"
              ></span>
        <span control-checkbox
              name="show_hand_trace"
              label="Show hand traces"
              value="true"
              ></span>
        <span control-checkbox
              name="rave_mode"
              label="RAVE MODE"
              value="false"
              ></span>
        <!--
        <br/>
        <span control-checkbox
              name="DEV"
              label="DEBUG"
              value="false"
              ></span>
        -->
      </div>

      <div>
        <span class="control">
          Poi length
          <input type="range"
                 min=0.5 max=0.9 step=0.1
                 ng-model="poiRatio" ng-init="poiRatio=0.7"
                 ng-change="setPoiRatio()"
                 />
        </span>
        <span class="control">
          Speed
          <input type="range"
                 min=-2 max=2 step=1
                 ng-model="speed" ng-init="speed=0"
                 ng-change="setSpeed()"
                 />
        </span>
        <span class="control" ng-show="options.DEV">
          Pause
          <input type="checkbox" ng-model="paused" ng-change="pauseHandler()" />
        </span>
      </div>
    </div>
  
    <canvas id="canvas" width="650px" height="600px" style="">
      This browser doesn't support canvas! Try
      <a href="http://google.com/chrome">Google Chrome</a>.
    </canvas>

  </div>

  <div class="footer">
    <a href="http://rfong.github.io">rfong</a> made this | 
    <a href="http://github.com/rfong/poi">@github</a>
  </div>

</body>
</html>
