hr
  border: none
  border-top: 1px dashed #ccc

body, input[type=text]
  font-family: monospace

body
  &.rave
    background: #000
    color: #fff
    a, a:active, a:visited, a:hover
      color: #fff

#canvas-container, #controls
  display: inline-block

#controls
  position: relative
  width: 600px
  vertical-align: top
  padding-top: 2em
  line-height: 2em

  .control
    margin-right: 2em

  input
    margin-right: 0.75em

.param
  margin-left: 1em

.footer
  margin-top: 1em
  text-align: center
